<%- include('./wrappers/head', {title: 'Flowers', login: id}); %>
<section>
  <flex justify="space-around" wrap>
    <% flowers.forEach(flower => { %>
      <a href="/flower/<%= flower.name %>/">
        <div class="card">
          <h3><%= flower.name %></h3>
          <img src="<%= flower.img %>" alt="Picture of <%= flower.name %>" />
          <p><strong>Aromas: </strong><%= flower.aroma %></p>
          <p><%= flower.desc %></p>
        </div>
      </a>
    <% }); %>
  </flex>
</section>
<%- include('./wrappers/foot'); %>