<% if(locals.scheme) { %>
  <%- include('../wrappers/head', {title: scheme.name, login: id}); %>
<% } else { %>
  <%- include('../wrappers/head', {title: 'Syrup not Found', login: id}); %>
<% } %>
<section>
  <center>
    <h1><%= scheme.name %></h1>
    <img src="<%= scheme.img %>" alt="Picture of <%= scheme.name %>" />
    <p><%= scheme.aroma %></p>
    <p>
      <% if(scheme.desc) { %>
        <%= scheme.desc %>
      <% } else { %>
        Description not provided... Maybe you could provide one!<br>
        <a href="/syrup/<%= scheme.name %>/edit/" class="cart-btn">Edit Description</a>
      <% } %>
    </p>
    <a href="javascript:addtoCart('<%= scheme.name %>');" class="cart-btn">Add to Cart</a>
  </center>
</section>
<%- include('../wrappers/foot'); %>