<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <% if(locals.title) { %>
        <%= title %>
      <% } else { %>
        The Concentrated Reef
      <% } %>
    </title>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="/css/placss.css" />
    <link rel="stylesheet" media="screen" href="/css/main.css" />
    <script src="/js/dependency_factory.js"></script>
    <script src="/js/placss.js"></script>
    <script>
      installDeps();
    </script>
  </head>
  <body>
    <wrapper>
      <header>
        <h1>The Concentrated Reef</h1>
        <nav>
          <flex justify="space-around">
            <a href="/"><img src="logo.jpg" alt="TCR Logo" /></a>
            <a href="/flower">Flowers</a>
            <a href="/cct">Concentrates</a>
            <a href="/syrup">Syrups</a>
            <spacer w="1/4"></spacer>
            <% if(locals.login) { %>
              <% if(locals.login !== 'guest') { %>
                <%
                  let cart = `/cart/${locals.login}`;
                  let checkout = `/checkout/${locals.login}`;
                %>
                <a href="<%= cart %>">Cart</a>
                <a href="<%= checkout %>">Checkout</a>
                <a href="/logout">Logout</a>
              <% } else { %>
                <%
                  let cart = `/cart/guest`;
                  let checkout = `/checkout/guest`;
                %>
                <a href="<%= cart %>">Cart</a>
                <a href="<%= checkout %>">Checkout</a>
                <a href="/signup">Sign-up</a>
                <a href="/login">Login</a>
              <% } %>
            <% } else { %>
              <a href="/signup">Sign-up</a>
              <a href="/login">Login</a>
            <% } %>
          </flex>
        </nav>
      </header>
      <main>